---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>


<h1 id='mainheading'>MOBS Experiment result</h1>
<p id='maintext'>
  This page accompanies a submission to JSS Special Issue on Source Code Analysis and Manipulation, <span style="font-weight:bold;">"The Lexical Approximation of Program Dependence"</span>. The page lists all figures arranged in the order listed on paper. It includes the ones omitted from the submission due to space limit.
</p>

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> </code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
