---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>
<!-- 
/* Maintext */
#mainheading {
  padding: 20px;
  padding-left: 260px;
  padding-right: 50px;
  font-family: "Courier New", Courier, monospace;
}

#maintext {
  padding-left: 260px;
  padding-right: 50px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
} -->

<h1 style="padding: 20px;padding-left: 260px;padding-right: 50px;font-family: 'Courier New', Courier, monospace;">MOBS Experiment result</h1>
<p style="padding-left: 260px;padding-right: 50px;font-size: 16px;font-family: 'Courier New', Courier, monospace;">
  This page accompanies a submission to JSS Special Issue on Source Code Analysis and Manipulation, <span style="font-weight:bold;">"The Lexical Approximation of Program Dependence"</span>. The page lists all figures arranged in the order listed on paper. It includes the ones omitted from the submission due to space limit.
</p>

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> </code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
